* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  text-decoration: none;
  font-family: 'Poppins', sans-serif;
}

/* Fuente Principal */
@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@100;200;300;400;500;600;700;800;900&display=swap');

/*PREFERÍ MOMENTANEAMENTE ELEGIR APARTE DEL STYLES.CSS USAR OTRO EXCLUSIVO PARA CONTACTO.HTML. EVENTUALMENTE USARÉ UNO SOLO*/
section{
  display: flex;
  justify-content: center;
  align-items: center;
  width: 100%;
  padding-top: 10px;
}

.formulario{
  position: relative;
  width: 420px;
  height: 555px;
  background: #12151B;
  border: 2px solid #ffffff99;
  border-radius: 20px;
  display: flex;
  justify-content: center;
  align-items: center;
}

.inputbox{
  position: relative;
  margin: 30px 0;
  width: 355px;
  border-bottom: 2px solid #ffffff;
}

.inputbox label {
  position: absolute;
  top: -20%;
  left: 5px;
  color: #FFC500;
  font-weight: 600;
  transition: .5s;
}

.inputbox input {
  width: 100%;
  height: 50px;
  background: transparent;
  border: none;
  outline: none;
  font-size: 17px;
  padding: 0 35px 0 5px;
  color: #ffffff;
}

.inputbox i{
  position: absolute;
  right: 8px;
  color: #ffffff;
  top: 20px;
}

button{
  width: 100%;
  height: 40px;
  border-radius: 8px;
  background: #FFC500;
  border: none;
  outline: none;
  font-size: 1em;
  font-weight: 600;
}

main button:active{
  transform: scale(0.985);
  box-shadow: inset 2px 2px 3px #FFC50099, inset 2px 2px 3px #31303099;
}
.register{
  color: #ffffff;
  text-align: center;
  margin: 25px 0 10px;
}

.register p a{
text-decoration: none;  
color: #ffffff;
font-weight: 600;
}

textarea{
  font-weight: 500;
}

.social-form{
  position: relative;
  bottom: 0px;
}

.footer-ico-form{
  position: relative;
  bottom: -20px;
  left: -10px;
  width: 170px;
  display: flex;
  justify-content: space-between;
}

.footer-ico-form a{
  position: relative;
  justify-content: center;
  display: inline-flex;
  align-items: center;
  width: 40px;
  height: 40px;
  background: transparent;
  border: 2px solid #FFC500;
  border-radius: 50%;
  font-size: 20px;
  color: #FFC500  ;
  text-decoration: none;
  z-index: 1;
  overflow: hidden;
  transition: .5s;
}

.copy-form{
  font-size: 10px;
  position: relative;
  bottom: -20px;
  left: 70px;
}

.iconmax-form {
  color: #FFC500;
  font-size: x-large;
}
