* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  text-decoration: none;
  font-family: 'Poppins', sans-serif;
}

/* Fuente Principal */
@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@100;200;300;400;500;600;700;800;900&display=swap');

/*PREFERÍ MOMENTANEAMENTE ELEGIR APARTE DEL STYLES.CSS USAR OTRO EXCLUSIVO PARA CONTACTO.HTML. EVENTUALMENTE USARÉ UNO SOLO*/
.container__form{
  display: flex;
  justify-content: center;
  align-items: center;
  width: 100%;
  padding-top: 10px;
}

.form__contacto{
  position: relative;
  width: 420px;
  height: 555px;
  background: #12151B;
  border: 2px solid #ffffff99;
  border-radius: 20px;
  display: flex;
  justify-content: center;
  align-items: center;
}

.form__contacto--input{
  position: relative;
  margin: 30px 0;
  width: 355px;
  border-bottom: 2px solid #ffffff;
}

.form__contacto--input label {
  position: absolute;
  top: -20%;
  left: 5px;
  color: #FFC500;
  font-weight: 600;
  transition: .5s;
}

.form__contacto--input input {
  width: 100%;
  height: 50px;
  background: transparent;
  border: none;
  outline: none;
  font-size: 17px;
  padding: 0 35px 0 5px;
  color: #ffffff;
}

.form__contacto--input i{
  position: absolute;
  right: 8px;
  color: #ffffff;
  top: 20px;
}

.form__contacto--button{
  width: 100%;
  height: 40px;
  border-radius: 8px;
  background: #FFC500;
  border: none;
  outline: none;
  font-size: 1em;
  font-weight: 600;
}

.form__contacto--button:active{
  transform: scale(0.985);
  box-shadow: inset 2px 2px 3px #FFC50099, inset 2px 2px 3px #31303099;
}
.register{
  color: #ffffff;
  text-align: center;
  margin: 25px 0 10px;
}

.register p a{
text-decoration: none;  
color: #ffffff;
font-weight: 600;
}

.form__contacto--input textarea{
  font-weight: 500;
}
