/*-----------------------------------------------------Reset -----------------------------------------------------*/

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

/*-----------------------------------------------------CSS Global -----------------------------------------------------*/
body {
  background-color: #12151B;
  font-family: 'Poppins', sans-serif;
  color: #ededed;
}

.index,
.nosotros,
.productos,
.galeria,
.contacto {
  width: 100%;
  margin: 0 auto;
  display: grid;
  grid-template-rows: 160px 1fr 100px;
  background-size: cover;
  background-position: center;
  background-repeat: no-repeat;
  background-attachment: fixed;
  text-decoration: none;
  list-style: none;
}

.index {
  height: 100vh;
  background-image: url('../assets/img/background_index_low.png');
}

.nosotros {
  background-image: url('../assets/img/background-nos2.jpg');
}

.productos {
  background-image: url('../assets/img/coffee-hand2.jpg');
}

.galeria {
  background-image: url('../assets/img/cafe3.jpg');
}

.contacto {
  background-image: url('../assets/img/passion2.jpg');
}

/*-----------------------------------------------------Header - Incluye Navbar y Logo-----------------------------------------------------*/
header {
  display: grid;
  grid-template-columns: repeat(11, 1fr);
  background: #242932;
  align-items: center;
  height: 160px;

}

/*Logo Marca-----------------------------------------------------*/
.logo {
  grid-column: 2 / 3;
  height: 8.75rem;
  justify-self: center;
  align-self: center;
}

.logo img {
  height: 8.75rem;
  transition: 0.5s;
}

/*Efecto sobre Logo Marca on Hover*/
.logo img:hover {
  transform: scale(1.02);
  filter: drop-shadow(1px 2px 2px #ededed3b);
  transition: 0.5s;
}

/*Navbar Completa-----------------------------------------------------*/
.nav {
  grid-column: 6 / 11;
}

/*Estilo sobre Links de la Navbar*/
.nav a {
  background: -webkit-linear-gradient(#e3ffe7 0%, #d9e7ff 100%);
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
  font-weight: 600;
  text-decoration: none;
  list-style: none;
}

/*Efecto sobre Links de la Navbar on Hover*/
.nav a:hover {
  background-color: #fe59a8;
  background-image: linear-gradient(90deg, #dc3c86 51%, #fe59a8 100%);
  font-weight: 700;
  transition: 0.5s;
}

/*Estilo Página Activa*/
.nav a.nav__lista--active {
  background: -webkit-linear-gradient(#F7971E 0%, #FFD200 51%, #F7971E 100%);
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
  font-weight: 700;
  transition: 0.5s;
}

/*Links Navbar-----------------------------------------------------*/
ul {
  margin-bottom: 0;
  padding-left: 0;
}

.nav__lista li {
  display: inline-block;
  padding-left: 12px;
  font-size: 30px;
  transition: 0.5s;
}

/*Efecto sobre Links Navbar on Hover*/
.nav__lista li:hover {
  transform: translateY(5px);
}

/*-----------------------------------------------------Main - Index-----------------------------------------------------*/
.main {
  display: grid;
  grid-template-columns: repeat(11, 1fr);
  grid-template-rows: repeat(3, 224px);
}

/*Título Principal-----------------------------------------------------*/
.main__titulo {
  grid-column: 2 / 8;
  grid-row: 1 / 2;
  align-self: self-end;
  justify-self: center;
  /* background: transparent;
  border-radius: 10px;
  backdrop-filter: blur(5px); */
}

.main__titulo h1 {
  font-size: 1.88rem;
  font-weight: 700;
  -webkit-text-stroke: 1px #0000002e;
}

/*Estilo sobre Nombre de la Marca*/
.yellow-strong {
  color: #FFC500;
  font-weight: 800;
}

/*Subtitulo-----------------------------------------------------*/
.main__titulo h3 {
  font-weight: 700;
  font-size: 3.4rem;
  -webkit-text-stroke: 1px #00000032;
}

/*Estilo sobre Palabra Clave*/
.yellow {
  color: #FFC500;
}

/*Texto Presentación-----------------------------------------------------*/
/* .main__presentacion{
  grid-column:  2 / 7;
  grid-row: 2 / 3;
} */
.main__presentacion {
  grid-column: 2 / 8;
  grid-row: 2 / 3;
  align-self: center;
  justify-self: center;
  padding: 20px;
  font-size: 1.4rem;
  -webkit-text-stroke: 1px #0000001c;
}

/*Imagen Cup-----------------------------------------------------*/
.hero {
  grid-column: 9 / 12;
  grid-row: 1/4;
}

.cup {
  display: grid;
  grid-template-columns: repeat(3, 166px);
  grid-template-rows: repeat(3, 1fr);
}

.cup img {
  grid-column: 1 / 3;
  grid-row: 1/4;
  align-self: center;
  justify-self: center;
  width: 400px;
  transition: 0.5s;
}

/*Efecto sobre Imagen Cup on Hover*/
.cup img:hover {
  transform: scale(1.05);
  filter: drop-shadow(1px 2px 4px #ededed6c);
  transition: 0.5s;
}

/*Botones a Productos y Contacto-----------------------------------------------------*/
.main__botones {
  grid-column: 2 / 5;
  grid-row: 3 / 4;
  position: relative;
  display: inline-flex;
  justify-self: center;
}

/*Estilo sobre Botones Productos y Contactos*/
.main__botones a {
  display: inline-flex;
  width: 13.125rem;
  height: 3.75rem;
  font-size: 1.6rem;
  justify-content: center;
  align-items: center;
  text-decoration: none;
  list-style: none;
  font-weight: 600;
  letter-spacing: 0.07rem;
  transition: 0.5s;
}

/* background-image: linear-gradient(60deg, #29323c 0%, #485563 100%); */
/*Efecto Botones on Hover*/
.main__botones a:hover {
  transform: translateY(-10px);
  transition: 0.5s;

}

/*Efecto Botones al Presionar*/
.main__botones a:active {
  transform: scale(0.985);
  transition: 0.15s;
  box-shadow: inset 2px 2px 5px 1px #31303099;

}

/*Estilo Botón Producto*/
.boton1 {
  border: 2px solid transparent;
  border-radius: 0.4rem;
  background-image: linear-gradient(to right, #F7971E 0%, #FFD200 51%, #F7971E 100%);

}

/*Estilo Texto Botón Productos*/
.gradient-text1 {
  background: -webkit-linear-gradient(#000000, #434343);
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
}

/*Estilo Botón Contacto*/
.boton2 {
  border: 2px solid #FFC500;
  border-radius: 0.4rem;
  backdrop-filter: blur(5px);
}

/*Estilo Texto Botón Contacto*/
.gradient-text2 {
  background: -webkit-linear-gradient(#F7971E, #FFD200);
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
}

/*-----------------------------------------------------Footer - Index-----------------------------------------------------*/
.footer {
  bottom: 0;
  width: 100%;
  display: grid;
  grid-template-columns: repeat(10, 1fr);
  grid-template-rows: 2fr;
  background-color: #232323b0;
  border: 1px solid #232323ae;
  backdrop-filter: blur(5px);

}

/*Iconos Social-----------------------------------------------------*/
.social {
  grid-column: 2 / 5;
  align-self: center;
  justify-self: center;
}

/*Box Iconos Social*/
.footer-ico a {
  display: inline-flex;
  justify-content: center;
  align-items: center;
  width: 2.5rem;
  height: 2.5rem;
  margin-right: 3rem;
  font-size: 1.8rem;
  text-decoration: none;
  transition: 0.5s;
}

/*Icono Social 1------------------------------*/

.footer-ico a:nth-child(1) {
  background: -webkit-linear-gradient(#0083b0 0%, #2754a7 51%, #08769b 100%);
  -webkit-background-clip: border-box;
  -webkit-text-fill-color: #ededed;
  border: 2px solid #2754a7;
  border-radius: 18px 18px 18px 5px;
  filter: drop-shadow(1px 1px 1px #2754a7);

}

/*Efecto Icono Social 1 on Hover*/
.footer-ico a:nth-child(1):hover {
  transform: translateY(-10px)
}

/*Icono Social 2------------------------------*/
.footer-ico a:nth-child(2) {
  background: -webkit-linear-gradient(#55acee 0%, #06beb6 51%, #48b1bf 100%);
  -webkit-background-clip: border-box;
  -webkit-text-fill-color: #ededed;
  border: 2px solid #06a79f;
  border-radius: 18px 18px 18px 5px;
  filter: drop-shadow(1px 1px 1px #2754a7);
}

/*Efecto Icono Social 2 on Hover*/
.footer-ico a:nth-child(2):hover {
  transform: translateY(-10px)
}

/*Icono Social 3------------------------------*/
.footer-ico a:nth-child(3) {
  background: -webkit-linear-gradient(#dd2a7b 0%, #f953c6 51%, #b91d73 100%);
  -webkit-background-clip: border-box;
  -webkit-text-fill-color: #ededed;
  border: 2px solid #dd2a7b;
  border-radius: 18px 18px 18px 5px;
  filter: drop-shadow(1px 2px 2px #980245);
}

/*Efecto Icono Social 3 on Hover*/
.footer-ico a:nth-child(3):hover {
  transform: translateY(-10px)
}

/* Iconos Dirección y Whastsapp-----------------------------------------------------*/
.location {
  grid-column: 5 / 9;
  align-self: center;
  /* justify-self: center; */
  transition: 0.5s;
}

/*Tamaño Iconos*/
.iconmax {
  display: inline-flex;
  justify-self: center;
  align-items: center;
  transition: 0.5s;
  color: #ededed;
}

.iconmax i {
  font-size: 2.5rem;
}

/*Icono Mapa (Google Maps)------------------------------*/
.bxs-map {
  background: -webkit-linear-gradient(#F7971E 0%, #FFD200 51%, #F7971E 100%);
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
  filter: drop-shadow(1px 2px 2px #F7971E);
}

/*Icono Whatsapp------------------------------*/
.bxl-whatsapp {
  background: -webkit-linear-gradient(#25d366 0%, #086b51 51%, #096232 100%);
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
  filter: drop-shadow(1px 2px 2px #096232);
}

/*Estilo Texto Mapa y Whatsapp------------------------------*/
.location p {
  font-size: 0.938rem;
  transition: 0.5s;
  margin: 0;
}

/*Efecto Texto Mapa y Whatsapp on Hover*/
.location p:hover {
  transform: translateY(-10px);
  transition: 0.5s;
}

/* Newsletter-----------------------------------------------------*/
.newsletter {
  grid-column: 9 / 11;
  grid-row: 1/2;
  padding-top: 13px;
  height: 50px;
  align-self: center;
  justify-self: center;

}

.newsletter h4 {
  position: relative;
  display: flex;
  font-size: 0.785rem;
  font-weight: 400;
  left: 10px;
}

.input-container {
  position: relative;
  display: flex;
  height: 2.8rem;
  width: 100%;
  min-width: 200px;
  max-width: 300px;
  background-color: #ffffff1a;
  border-radius: 8px;
  box-shadow: 20px 20px 30px #0000000d;
  background: transparent;
  backdrop-filter: blur(5px);
}

.input-container input {
  height: 100%;
  width: 100%;
  border-radius: 8px;
  border: 1px solid #b0bec5;
  background-color: transparent;
  padding: 0.625rem 70px 0.625rem 0.75rem;
  font-family: 'Poppins', sans-serif;
  font-size: 0.875rem;
  line-height: 1.25rem;
  font-weight: 400;
  color: #455a64;
  outline: none;
  transition: all .15s cubic-bezier(0.4, 0, 0.2, 1);
}

.input-container input:focus {
  border: 1px solid #ec4899;
  color: #ffffff;
}

.invite-btn {
  position: absolute;
  width: 75px;
  right: 4px;
  top: 4px;
  bottom: 4px;
  z-index: 10;
  border-radius: 4px;
  background-color: #fe59a8;
  color: #081b29;
  padding-top: .25rem;
  padding-bottom: .25rem;
  padding-left: 0.5rem;
  padding-right: 0.5rem;
  text-align: center;
  vertical-align: middle;
  font-family: 'Poppins', sans-serif;
  font-size: 12px;
  font-weight: 700;
  text-transform: uppercase;
  border: none;
  transition: .6s ease;
}

.input-container input:placeholder-shown~.invite-btn {
  pointer-events: none;
  background-color: gray;
  opacity: 0.5;
}

.invite-btn:active {
  transform: scale(0.985);
  transition: 0.15s;
  box-shadow: inset 2px 2px 5px 1px #31303099;
}

/* Design by DowoDev-----------------------------------------------------*/
.me {
  grid-column: 1 / 3;
  grid-row: 2/2;
  font-size: 0.8rem;
  padding-left: 10px;
  align-self: center;
  justify-self: center;

}

.me a {
  text-decoration: none;
  color: #ededed;
}

/*==================================NOSOTROS==========================================*/
.main__nos {
  display: grid;
  grid-template-columns: repeat(11, 1fr);
  grid-template-rows: repeat(3, auto);
}

.main__titulo--nos {
  grid-column: 2 / 8;
  grid-row: 1 / 2;
  align-self: auto;
  justify-self: center;
}

.main__titulo--nos h3 {
  font-weight: 700;
  font-size: 3.4rem;
}

.main__texto {
  grid-column: 2 / 8;
  grid-row: 2 / 3;
  align-self: center;
  justify-self: center;
  text-align: start;
  padding: 20px;
  font-size: 1.4rem;
}

/*Imagenes Grandes Nosotros------------------------------*/
.card-box {
  background-color: #ededed0c;
  padding: 30px 30px 15px;
  border-radius: 10px;
  backdrop-filter: blur(3px);
  margin-bottom: 20px;

}

.team {
  grid-column: 8 / 11;
  grid-row: 1 / 4;
  justify-self: center;
  padding-top: 18px;

}

.card {
  width: 500px;
  height: 250px;
  border: 1.25rem solid rgb(255, 255, 255 / 15%);
  z-index: 1;

}

.card::after {
  content: '';
  width: 100%;
  height: 100%;
  background: #e5e5e5;
  opacity: 0;
  transition: .5s ease all;
}

.card img {
  width: 500px;
  height: 235px;
  border-radius: 10px;
  transition: 0.8s;
  transition: 0.8s ease all;
  width: 100%;
  object-fit: cover;
}

.card img:hover {
  transform: scale(1.05);
  transition: 0.8s;
}

/*Footer Nosotros------------------------------*/
.footer__nos {
  bottom: 0;
  width: 100%;
  display: grid;
  grid-template-columns: repeat(10, 1fr);
  grid-template-rows: 2fr;
  background-color: #232323b0;
  border: 1px solid #232323ae;
  backdrop-filter: blur(5px);
}

.social-nos {
  grid-column: 2 / 5;
  grid-row: 1/3;
  align-self: center;
  justify-self: center;

}

.location-nos {
  grid-column: 5 / 8;
  grid-row: 1/3;
  align-self: center;
  justify-self: center;
  transition: 0.5s;

}

.iconmax-nos {
  grid-column: 5 / 9;
  grid-row: 1/3;
  display: inline-block;
  transition: 0.5s;
  color: #ededed;
}

.iconmax-nos i {
  font-size: 2.5rem;
}

.location-nos p {
  font-size: 0.938rem;
  transition: 0.5s;
  margin: 0;
}
.replace-text{
  position: relative;
  visibility: hidden;
}

/*Efecto Texto Mapa y Whatsapp on Hover*/
.location-nos p:hover {
  transform: translateY(-10px);
  transition: 0.5s;
}

.newsletter-nos {
  grid-column: 9 / 12;
  grid-row: 1/2;
  padding-top: 13px;
  height: 50px;
  align-self: center;
  justify-self: center;
}

.newsletter-nos h4 {
  position: relative;
  display: flex;
  font-size: 0.785rem;
  font-weight: 400;
  left: 10px;


}

.me-nos {
  grid-column: 1 / 3;
  grid-row: 2/2;
  align-self: flex-end;
  font-size: 0.8rem;
  padding-left: 10px;
}

.me-nos a {
  text-decoration: none;
  color: #ededed;
}

/*==================================PRODUCTOS==========================================*/
.main__productos {
  display: grid;
  grid-template-columns: repeat(11, 1fr);
  grid-template-rows: repeat(3, auto);
}

.main__titulo--prod {
  grid-column: 3 / 11;
  grid-row: 1 / 2;
  align-self: auto;
  justify-self: center;
}

.main__titulo--prod h3 {
  font-weight: 700;
  font-size: 3.4rem;
  height: 273px;
  -webkit-text-stroke: 1px #0000004b;
}

.grupo-prod {
  grid-column: 3 / 10;
  grid-row: 2 / 4;
  justify-content: space-around;
  align-items: center;
  flex-wrap: wrap;
  margin-bottom: 25px;
}

.cards {
  display: grid;
  grid-template-columns: repeat(auto-fill, minmax(320px, 1fr));
  padding-inline: 24px;
  gap: 24px;
  color: #ededed;
}

.cards-style {
  position: relative;
  box-shadow: none;
  border-radius: 5px;
  transform-origin: center;
  transition: all 0.4s ease-in-out;
  overflow: hidden;
  border: 2px solid #232323ae;
}

.cards-cafe {
  background-color: #232323b0;
  border: 1px solid #232323ae;
  text-align: center;
  backdrop-filter: blur(3px);
}

.cards-cafe img {
  margin: 0;
  padding: 0;
  overflow: hidden;
  max-width: 100%;
  border-bottom: 1px solid #232323ae;
  border-radius: 5px;
}

.cards-body {
  padding: 24px;
}

.cards-body h2 {
  margin: 0 0 18px 0;
  font-size: 1.9rem;
  transition: color 0.3s ease-out;
  border-bottom: 1px solid #908e8eae;
  border-top: 1px solid #908e8eae;
}

.cards-body p {
  font-size: 18px;
  padding-bottom: 25px;
}

.cards-body span {
  display: inline-flex;
  align-items: center;
  font-size: 24px;
  font-weight: 800;
  color: #000000;
  padding: 10px 40px 10px 40px;
  border-radius: 3px;
  backdrop-filter: blur(25px);
  background-image: linear-gradient(to right, #F7971E 0%, #FFD200 51%, #F7971E 100%);
  border: 1px solid #FFC500ae;
}

/*==================================GALERIA==========================================*/
.main__gal {
  display: grid;
  grid-template-columns: repeat(11, 1fr);
  grid-template-rows: repeat(3, auto);
  padding-bottom: 20px;
}

.main__titulo--gal {
  grid-column: 2 / 11;
  grid-row: 1 / 2;
  align-self: center;
  justify-self: center;
}

.main__titulo--gal h3 {
  font-weight: 700;
  font-size: 4.4rem;
  height: 217px;
  padding-top: 80px;
  -webkit-text-stroke: 1px #00000049;
}

.grupo-gal {
  grid-column: 2 / 11;
  grid-row: 2 / 4;
  padding: 25px 25px 20px 25px;
  background-color: #ededed0c;
  border-radius: 10px;
  backdrop-filter: blur(3px);
}

.gal {
  display: grid;
  grid-template-columns: repeat(3, minmax(320px, 1fr));
  gap: 24px;
}

.gal-photo img {
  margin: 0;
  padding: 0;
  overflow: hidden;
  max-width: 100%;
  border: 1px solid #232323ae;
  border-radius: 5px;
  transition: 0.8s;
}

.gal-photo:hover img {
  transform: scale(1.02);
  transition: 0.8s;
}

/* TODO: MEDIAQUERIES */
@media (max-width: 1440px) {
  .header {
    grid-template-columns: repeat(12, 1fr);
  }

  .nav {
    grid-column: 5 / 12;

  }

  ul {
    margin-bottom: 0;
  }

  .nav__lista li {
    font-size: 28px;

  }

  .location-nos {
    grid-column: 4 / 8;
  }

  .social-nos {
    grid-column: 1 / 4;
  }
}

/* FIXME: MEDIAQUERIES */
/*==================================CONTACTO==========================================*/
.main__contacto {
  display: grid;
  grid-template-columns: repeat(11, 1fr);
  grid-template-rows: repeat(3, auto);
  padding-bottom: 140px;
}

.main__titulo--contacto {
  grid-column: 2 / 7;
  grid-row: 1 / 2;
  align-self: center;
  justify-self: center;
  padding: 115px 25px 20px 25px;

}

.main__titulo--contacto h3 {
  font-weight: 700;
  font-size: 4.4rem;
  height: 217px;
  color: #525151;
  -webkit-text-stroke: 2px #00000049;
}

.container__form {
  grid-column: 7 / 10;
  grid-row: 1 / 3;
  justify-self: center;
  align-self: center;
  width: 100%;
  padding-top: 10px;
}

.form_contacto {
  width: 420px;
  height: 555px;
  padding-top: 28px;
  display: flex;
  justify-content: center;
  align-items: center;
  border-radius: 5px;
  background-color: #232323b0;
  border: 1px solid #232323ae;
  backdrop-filter: blur(5px);
}

.line1 {
  display: block;
  margin-bottom: 0.6em;
  margin-left: auto;
  margin-right: auto;
  border-style: inset;
  border-width: 1px;
  border-color: #ededed8c;
  backdrop-filter: blur(5px);
}

.titulo_formulario {
  display: flex;
  justify-content: center;
  align-items: center;
  color: #FFC500;
  font-weight: 600;
  font-size: 24px;

}

.line2 {
  display: block;
  margin-top: 0.6em;
  margin-bottom: 0.6em;
  margin-left: auto;
  margin-right: auto;
  border-style: inset;
  border-width: 1px;
  border-color: #ededed8c;
  backdrop-filter: blur(5px);
}

.form_input {
  position: relative;
  margin: 30px 0;
  width: 355px;

}

.form_input label {
  position: absolute;
  top: -50%;
  left: 5px;
  color: #ededed;
  font-weight: 600;
  transition: .5s;
}

.form_input .mensajero {
  top: -20%;
}


.form_input input {
  width: 100%;
  height: 50px;
  background: transparent;
  outline: none;
  color: #ffffff;
  border-radius: 8px;
  border: 1px solid #b0bec5;
  background-color: transparent;
  padding: 0.625rem 70px 0.625rem 0.75rem;
  font-family: 'Poppins', sans-serif;
  font-size: 0.875rem;
  font-weight: 400;
  transition: all .15s cubic-bezier(0.4, 0, 0.2, 1);
  background-color: #a3a3a349;
  border: 1px solid #ffc4005e;
  backdrop-filter: blur(15px);

}

.form_input i {
  position: absolute;
  right: 8px;
  color: #edededab;
  font-weight: 500;
  top: 16px;
}

.gratarola {
  width: 100%;
  height: 40px;
  border-radius: 8px;
  background: #FFC500;
  border: none;
  outline: none;
  font-family: 'Poppins', sans-serif;
  font-size: 1.2em;
  font-weight: 800;
  border: 2px solid transparent;
  border-radius: 0.4rem;
  background-image: linear-gradient(to right, #F7971E 0%, #FFD200 51%, #F7971E 100%);
}

.gratarola:active {
  transform: scale(0.985);
  box-shadow: inset 2px 2px 3px #FFC50099, inset 2px 2px 3px #31303099;

}

.register {
  color: #ffffff;
  text-align: center;
  margin: 25px 0 10px;
  padding: 9px;
  border-bottom: 1px solid #908e8eae;
  border-top: 1px solid #908e8eae;
}

.register p {
  text-decoration: none;
  color: #ffffff;
  font-weight: 600;
  font-size: 1.0em;

}

.form_input textarea {
  font-family: "Poppins", sans-serif;
  font-size: 12px;
  font-weight: 500;
  color: #ededed;
  width: 355px;
  background-color: #a3a3a349;
  border: 1px solid #ffc4005e;
}


/*-----------------------------------------------------Mediaqueries-----------------------------------------------------*/

/* TODO: MEDIAQUERIES */
@media (max-width: 1440px) {
  .header {
    grid-template-columns: repeat(12, 1fr);
  }

  .nav {
    grid-column: 5 / 12;

  }

  ul {
    margin-bottom: 0;
  }

  .nav__lista li {
    font-size: 28px;

  }

  .location-nos {
    grid-column: 4 / 8;
  }

  .social-nos {
    grid-column: 1 / 4;
  }
}

@media (max-width: 1024px) {
  header {
    height: 120px;
  }

  .nav {
    grid-column: 5 / 13;
  }

  .galeria {
    grid-template-rows: 120px 1fr 75px;
  }

  .logo {
    grid-column: 1 / 2;
    height: 6.563rem;
    padding-left: 5px;
  }

  .logo img {
    height: 6.563rem;
  }

  .nav__lista li {
    padding-left: 9px;
    font-size: 21px;
  }

  .main__gal {
    padding-bottom: 0px;
  }

  .main__titulo--gal h3 {
    font-size: 2.75rem;
    height: 84.25px;
    padding-top: 25px;
  }

  .gal {
    grid-template-columns: repeat(3, minmax(240px, 1fr));
    gap: 18px;
  }

  .grupo-gal {
    grid-column: 1 / 12;
    padding: 18.75px 18.75px 15px 18.75px;
    margin: 20px;
  }

  .footer__nos {
    height: 75px;
  }

  .location-nos {
    grid-column: 3 / 8;
  }

  .location-nos p {
    font-size: 0.75rem;
  }

  .location-nos p:hover {
    transform: translateY(-5px);
  }

  .iconmax-nos i {
    font-size: 2.063rem;
  }

  .social-nos {
    grid-column: 1 / 3;
  }

  .footer-ico a {
    width: 1.875rem;
    height: 1.875rem;
    margin-right: 1.25rem;
    font-size: 1.35rem;
  }

  .footer-ico a:nth-child(1) {
    border: 1px solid #2754a7;
    border-radius: 18px 18px 18px 5px;
  }

  .footer-ico a:nth-child(2) {
    border: 1px solid #06a79f;
    border-radius: 18px 18px 18px 5px;
  }

  .footer-ico a:nth-child(3) {
    border: 1px solid #dd2a7b;
    border-radius: 18px 18px 18px 5px;
  }

  .footer-ico a:nth-child(1):hover {
    transform: translateY(-10px)
  }

  .footer-ico a:nth-child(2):hover {
    transform: translateY(-10px)
  }

  .footer-ico a:nth-child(3):hover {
    transform: translateY(-10px)
  }

  .newsletter-nos {
    grid-column: 8 / 12;
  }

  .input-container {
    height: 2.1rem;
    width: 82%;
  }

  .newsletter-nos h4 {
    left: 2px;
  }

  .me-nos {
    grid-column: 5 / 7;
    font-size: 0.6rem;
    font-weight: 100;
  }
}

@media (max-width: 768px) {
  header {
    height: 90px;
  }

  .nav {
    grid-column: 4 / 13;
  }
  .nav__lista li {
    padding-left: 9px;
    font-size: 16.8px;
  }

  .galeria {
    grid-template-rows: 90px 1fr 60px;
  }

  .logo {
    grid-column: 1 / 2;
    height: 4.93rem;
    padding-left: 10px;
  }

  .logo img {
    height: 4.93rem;
  }

  .main__titulo--gal h3 {
    font-size: 2.06rem;
    height: 63px;
  }

  .gal {
    grid-template-columns: repeat(2, minmax(220px, 1fr));
    gap: 14.4px;
  }

  .grupo-gal {
    padding: 15px 15px 12px 15px;
    border-radius: 8px;
    margin: 16px;
  }

  .footer__nos {
    height: 60px;
  }

  .location-nos {
    grid-column: 2 / 9;
  }
  .reemplazo1{
    position: relative;
    visibility: hidden;
  }

  .reemplazo1:after {
    position: absolute;
    content: "Ubicación";
    visibility: visible;
    left: 35px;
    top: 10px;
  }
  .reemplazo2{
    position: relative;
    visibility: hidden;
  }

  .reemplazo2:after {
    position: absolute;
    content: "Whatsapp";
    visibility: visible;
    left: 35px;
    top: 10px;
  }

  .location-nos p:hover {
    transform: translateY(0px);
  }

  .iconmax-nos i {
    font-size: 2.032rem;
    visibility: visible;
  }

  .social-nos {
    grid-column: 1 / 3;
  }

  .footer-ico a {
    width: 1.5rem;
    height: 1.5rem;
    margin-right: 1rem;
    font-size: 1.08rem;
  }

  .footer-ico a:nth-child(1) {
    border: 1px solid #2754a7;
    border-radius: 18px 18px 18px 5px;
  }

  .footer-ico a:nth-child(2) {
    border: 1px solid #06a79f;
    border-radius: 18px 18px 18px 5px;
  }

  .footer-ico a:nth-child(3) {
    border: 1px solid #dd2a7b;
    border-radius: 18px 18px 18px 5px;
  }

  .footer-ico a:nth-child(1):hover {
    transform: translateY(-10px)
  }

  .footer-ico a:nth-child(2):hover {
    transform: translateY(-10px)
  }

  .footer-ico a:nth-child(3):hover {
    transform: translateY(-10px)
  }

  .newsletter-nos {
    grid-column: 8 / 12;
  }

  .input-container {
    height: 2.1rem;
    width: 82%;
  }

  .newsletter-nos h4 {
    left: 2px;
  }

  .me-nos {
    grid-column: 5 / 7;
    font-size: 0.6rem;
    font-weight: 100;
  }

}

/* FIXME: MEDIAQUERIES */

/*
.main__gal {
  padding-bottom: 42px;
}
    */