@mixin flex ($direction, $wrap, $justify, $align, $gap) {
    display: flex;
    flex-direction: $direction;
    flex-wrap: $wrap;
    justify-content: $justify;
    align-items: $align;
    gap: $gap;
}

@mixin grid ($col, $row, $justify, $align, $area) {
    display: grid;
    grid-template-columns: $col;
    grid-template-rows: $row;
    justify-content: $justify;
    align-items: $align;
    grid-template-areas: $area;
}

/*
  @include grid (repeat(11, 1fr),repeat(3, 250px),none,none,none);*/