/**variables**/
$background-body: #242932;
$background-header: #ffffff13;
$font-color-main: #ededed;
$font-color-main-variant:#ededed50;
$marca-size: 35px;
$marca-sizeMin: 35px;
$yellow: #FFC500;
$pink: #fd007a;
$pink-variant: #fd007aee;
$background-index-productos:url('../assets/img/coffee-hand2.jpg');
$background-nosotros:url('../assets/img/background-nos2.jpg');
$background-galeria:url('../assets/img/cafe3.jpg');
$background-contacto:url('../assets/img/passion2.jpg');
