/**variables**/
$background-body: #242932;
$background-header: #ffffff13;
$font-color-main: #ededed;
$font-color-main-variant: #ededed50;
$poppins: 'Poppins', sans-serif;
$roboto: 'Roboto', sans-serif;
$rubik: 'Rubik', sans-serif;
$montserrat: 'Montserrat', sans-serif;
$marca-size: 35px;
$marca-sizeMin: 35px;
$yellow: #FFC500;
$pink: #fd007a;
$pink-variant: #fd007aee;
$black: #000000;
$chocco: #863804;
$strong: #db143c;
$pink-soft: #f577b4;
$breeze: #0064fa;
$cool: #64d2ee;
$sunny: #ffc400;
$soft: #ff8800ef;
$natural: #91ff00;


$background-index: url('../../assets/img/cafe8.jpg');
$background-index-productos: url('../../assets/img/coffee-hand2.jpg');
$background-nosotros: url('../../assets/img/background-nos2.jpg');
$background-galeria: url('../../assets/img/cafe3.jpg');
$background-contacto: url('../../assets/img/background-contacto.jpg');