body {
  background: $background-body;
  color: $font-color-main;
  font-family: $poppins;
  position: relative;
}
html {
  scroll-behavior: smooth;
}
.index,
.nosotros,
.productos,
.galeria,
.contacto {
  width: 100%;
  height: 100%;
  margin: 0 auto;
  @include grid (none,85px 1fr 349px,none,none,none);
  background-size: cover;
  background-position: center;
  background-repeat: no-repeat;
  background-attachment: fixed;
  text-decoration: none;
  list-style: none;
}

.index {
  background-image: $bg_index;
}

.nosotros {
  @include grid (none,85px auto-fill 349px,none,none,none);
  background-image: $bg_nosotros;
}

.productos {
  background-image: $bg_productos;
}

.galeria {
  background-image: $bg_galeria;
}

.contacto {
  background-image: $bg_contacto;
}

.arrow{
  position: fixed;
  bottom: 30px;
  left: 10px;
  // right: 30px;
  // width: 50px;
  z-index: 9;
  
  a{
    display: block;
    cursor: pointer;
    text-align: center;
    text-decoration: none;
    -webkit-background-clip: border-box;
    background-clip: border-box;
    background: $background-header;
    backdrop-filter: blur(1px);
    font-family: $poppins;
    font-size: 15px;
    font-weight: 700;
    -webkit-text-fill-color: $font-color-main;
    color: $font-color-main;
    border: 1px solid $yellow;
    border-radius: 18px 18px 18px 5px;
    filter: drop-shadow(0px 1px 1px $yellow'83');
    transition: 0.3s;
  }
}

