header {
  margin-top: 0;
  margin-bottom: 0;
  width: 100%;
  height: 85px;
  padding: 0 25px;
  @include flex(none, none, space-between, center, none);
  position: relative;
  background-color: $background-header;
  -webkit-backdrop-filter: blur(20px);
  backdrop-filter: blur(20px);
  transition: all 0.5s;

  .logo {
    display: flex;
    padding: 5px 10px 5px 10px;
    border-radius: 10px;

    a {
      display: block;
      padding: 0 0 10px 0;
      transition: all 0.5s;

      img {
        display: block;
        height: 3rem;
        width: 100%;
        filter: invert(0);
        transition: all 0.5s;
      }
    }
  }

  .marca {
    position: relative;
    align-self: center;
    font-weight: 700;
    font-size: $marca-size;
    filter: invert(0);
    transition: all 0.5s;
    padding: 0 0 0px 10px;
    text-decoration: none;

    b {
      font-weight: 300;
      font-family: 'Poppins', sans-serif;
      font-size: $marca-sizeMin;
      color: $pink;
      filter: invert(0);
    }
  }

  .navigation {
    @include flex(row-reverse, none, space-between, center, none);
    .checkbtn {
      font-size: 48px;
      float: right;
      height: 65px;
      cursor: pointer;
      display: none;
    }

    #check {
      display: none;
    }

    ul {
      @include flex(row, none, center, center, none);
      z-index: 1;
      transition: all 0.5s;
      float: right;
      margin-right: 20px;

      li {
        display: flex;
        padding-left: 12px;
        transition: 0.5s;

        a {
          color: $font-color-main-variant;
          display: block;
          padding: 0 0 0 0;
          font-size: 20px;
          font-weight: 500;
          transition: all 0.2s;
          list-style: none;
          text-decoration: none;

          &:hover {
            color: $font-color-main;
          }
        }
      }

      .main-menu__link {
        position: relative;
        transition: all 0.4s;
      }

      ::after {
        content: "";
        height: 2px;
        width: 100%;
        // background-image: linear-gradient(#F7971E 0%, #FFD200 51%, #F7971E 100%);
        background-image: linear-gradient(#b91d73 0%, #dd2a7b 50%, #f953c6 100%);
        position: absolute;
        right: 0px;
        bottom: -5px;
        opacity: 0;
        transition: all 0.35s ease;
        pointer-events: none;
      }

      .active {
        font-size: 20px;
        color: $font-color-main;

      }

      .main-menu__link:hover::after,
      .main-menu__link:focus::after {
        opacity: 1;
      }
    }
  }
}