header {
  margin-top: 0;
  margin-bottom: 0;
  width: 100%;
  height: 85px;
  @include flex(none, none, space-between, center, none);
  position: relative;
  background-color: $background-header;
  backdrop-filter: blur(20px);
  -webkit-backdrop-filter: blur(20px);
  transition: all 0.5s;
  z-index: 1;

  .logo {
    display: flex;
    transition: all 0.5s;

    a {
      display: block;
      width: 2.8rem;
      padding: 0 0 0 10px;
      transition: all 0.5s;

      img {
        display: block;
        width: 1.8rem;
        filter: invert(0);
        transition: all 0.5s;
      }
    }
  }

  .marca {
    position: relative;
    align-self: center;
    font-weight: 700;
    font-size: 16px;
    filter: invert(0);
    padding: 0 0 0px 10px;
    flex-direction: column;
    list-style: none;
    text-decoration: none;
    transition: all 0.5s;

    b {
      font-weight: 400;
      color: $pink;
      filter: invert(0);
      transition: all 0.5s;
    }
  }

  .navigation {
    // @include flex(row-reverse, none, space-between, center, none);
    .menu{
      background-color: $pink;
      border: 1px solid #333;
      -webkit-backdrop-filter: blur(25px);
      backdrop-filter: blur(25px);
      list-style: none;
      transition: all 0.5s; 
    }
    .checkbtn {
      display: block;
      position: sticky;
      flex-direction: row;
      width: 50px;
      float: right;
      height: 50px;
      cursor: pointer;
      &:active,&::after {
        transform: scale(1.20);
        background: linear-gradient(#b91d73c9 0%, #dd2a7bc9 50%, #f953c6c9 100%);
        border-radius: 25px;
        transition: 0.01s;
      }


      // display: none;
      // img {
      //   height: 30px;
      // }
      i {
        font-size: 50px;
      }
      
    }

    #check {
      display: none;
    }

    ul {
      @include flex(column, none, center, center, none);
      position: absolute;
      width: 100%;
      height: 250px;
      top: 85px;
      left: -105%;
      text-align: center;
      float: right;
      margin-right: 20px;
      z-index: 1;
      transition: all 0.5s;

      li {
        display: flex;
        display: block;
        margin: 10px 0;
        line-height: 30px;
        // padding-left: 12px;
        transition: 0.5s;

        a {
          // color: $font-color-main-variant;
          display: block;
          color: #181818;
          padding: 0 0 0 0;
          font-size: 18px;
          font-weight: 700;
          transition: all 0.2s;
          list-style: none;
          text-decoration: none;

          &:hover {
            color: $font-color-main;
          }
        }
      }
      .active {
        color: $font-color-main;

      }

      .main-menu__link {
        position: relative;
        transition: all 0.4s;
      }

      ::after {
        content: "";
        height: 2px;
        width: 100%;
        // background-image: linear-gradient(#F7971E 0%, #FFD200 51%, #F7971E 100%);
        background-image: linear-gradient(#b91d73 0%, #dd2a7b 50%, #f953c6 100%);
        position: absolute;
        right: 0px;
        bottom: -5px;
        opacity: 0;
        transition: all 0.35s ease;
        pointer-events: none;
      }

      .main-menu__link:hover::before,
      .main-menu__link:focus::before {
        opacity: 1;
      }
    }
    #check:checked ~ ul {
      left: 0;
    }
  }
}