@media screen and (min-width: 768px) {
  // header {
  //   .logo a{
  //     img {
  //       height: 2.8rem;
  //       transition: all 0.5s;
  //     }
  //   }
  //   .marca {
  //     font-size: 35px;
  //     transition: all 0.5s;
  //     b {
  //       font-size: 35px;
  //       transition: all 0.5s;
  //     }
  //   }
  //   .navigation {
  //       .menu{
  //       flex-direction: column;
  //       background-color: $pink;
  //       -webkit-backdrop-filter: blur(25px);
  //       backdrop-filter: blur(25px);
  //       list-style: none;
  //       transition: all 0.5s; 
  //     }
  //     .checkbtn{
  //       display: block;
  //       position: sticky;
  //     }
  //     ul {
  //       position: absolute;
  //       width: 100%;
  //       height: 210px;
  //       top: 84px;
  //       left: -105%;
  //       text-align: center;
  //       transition: all 0.5s;
  //       li {
  //         display: block;
  //         margin: 10px 0;
  //         line-height: 20px;
  //         a{
  //           font-size: 20px;
  //           color: #000;
  //         }
  //         .active {
  //           font-size: 20px;
  //           transition: all 0.5s;
  //         }
  //       }
  //     }
  //     #check:checked ~ ul {
  //       left: 0;
  //     }
  
  //   }
  // }
  // .main-index {
  //   .main__botones {
  //     grid-column: 2 / 5;
  //     padding: 45px;
  //     flex-direction: column;
  //     a {
  //       width: 22.125rem;
  //       transition: all 0.5s;
  //       .gradient-text1, .gradient-text2 {
  //         font-size: 1.5rem;
  //         transition: all 0.5s;
  //       }
  //     }
  //   }
  // }
  header{
    .logo {
      a {
        width: 3.0rem;
        transition: all 0.5s;
        img {
          width: 2.5rem;
          transition: all 0.5s;
        }
      }
    }
    .marca {
      font-size: 35px;
      transition: all 0.5s;
    }
  }
  .main-index {
    @include grid (repeat(3, 1fr),repeat(5, 135px),none,none,none);
    transition: all 0.5s;
    .main__titulo {
      h1 {
        font-size: 45px;
        transition: all 0.5s;
      }
      h3 {
        font-size: 45.0px;
        transition: all 0.5s;
      }
    }
  
    .main__presentacion {
      grid-column: 2 / 4;
      grid-row: 2 / 5;
      transition: all 0.5s;
  
      p {
        font-size: 25px;
        transition: all 0.5s;
        .marca {
          font-size: 25px;
          transition: all 0.5s;
        }
  
        .yellow {
          color: $yellow;
          -webkit-text-stroke: 0px #0000001c;
        }
      }
    }
  
    .hero {
      grid-column: 1 / 2;
      grid-row: 2 / 5;
      transition: all 0.5s;
  
      .cup {
        img {
          width: 230px;
          transition: 0.5s;
        }
      }
    }
  
    .main__botones {
      grid-row: 5 / 5;
      a {
        width: 221px;
        height: 4.30rem;
        transition: 0.5s;
      }
      .gradient-text1, .gradient-text2{
        font-size:30px;
        transition: 0.5s;
      }
    }  
  }
  .main__nos{
    @include grid (repeat(3, 1fr),repeat(10, 150px),none,none,none);
    .main__titulo--nos {
      h3 {
        font-size: 32px;
        transition: all 0.5s;
      }
    }
    .main__texto {
      grid-row: 2 / 5;
      transition: all 0.5s;
      p {
        font-size: 16px;
        transition: all 0.5s;
  
        .marca {
          font-size: 16px;
          transition: all 0.5s;
        }
      }
    }
    .team{
      grid-row: 6 / 10;
      .card-box{
        .card{
          height: 265px;
          img {
            height: 248px;
            transition: 0.8s ease all;
          }
        }
      }
    }
  }
  .main__productos{
    .grupo-prod{
      .cards-style{
        .cards-cafe{
          .cards-body{
            button {
              font-size: 23px;
              padding: 19px 75px;
              transition: all 0.5s;
            }
          }
        }
      }
    }
  }
  footer {
    @include grid (repeat(3, 1fr), repeat(5, 70px), none, none, none);
    transition: all 0.5s;
    .menu-x {
      li {
        a {
          font-size: 15px;
          transition: all 0.5s;
        }
      }
    }

  
    .social {
      .footer-ico {
        i {
          font-size: 25px;
          transition: all 0.5s;
        }
    
        a {
          width: 38px;
          height: 38px;
          transition: 0.5s;
        }
      }
    }
  
    .location {
      grid-column: 1 / 3;
      grid-row: 4 / 5;
      width: 380px;
      justify-self: flex-start;
      transition: 0.5s;
      a {
        width: 144px;
        height: 2.8rem;
        font-size: 20px;
        transition: 0.5s;
      }
   
      .iconmax i {
        font-size: 28px;
        transition: 0.5s;
      }
    }
  
    .etiquetas {
      grid-column: 1 / 3;
      grid-row: 5 / 5;
      // align-self: center;
      justify-self: flex-start;
      padding: 0 0 0 40px;
      p {
        font-size: 13px;
        transition: 0.5s;
      }
    }
  
    .newsletter {
      grid-column: 2 / 4;
      grid-row: 4 / 5;
      width: 345px;
      height: 43px;
      justify-self: flex-end;
      transition: 0.5s;
      h4 {
        font-size: 0.885rem;
        transition: 0.5s;
      }
  
      .input-container {
        border-radius: 6.4px;
        height: 42px;
        width: 100%;
        min-width: 200px;
        max-width: 310px;
        input {
          font-size: 14px;
          transition: all 0.15s cubic-bezier(0.4, 0, 0.2, 1);
        }
      }
    }
  
    .me {
      grid-row: 5/5;
      font-size: 10px;
      transition: 0.5s;
    }
  
  }
}