@media screen and (max-width: 1200px) {
  .arrow{
    right: 15px;
  }
  header {
    .logo a{
      img {
        height: 2.8rem;
        transition: all 0.5s;
      }
    }
    .marca {
      font-size: 28px;
      transition: all 0.5s;
      b {
        font-size: 27px;
        transition: all 0.5s;
      }
    }
    .navigation ul {
      li {
        a{
          font-size: 18px;
          transition: all 0.5s;
        }
      }
      .active {
        font-size: 18px;
        transition: all 0.5s;
      }
    }
  }
  .main-index {
    .main__titulo h3 {
      font-size: 2.65rem;
      transition: all 0.5s;
    }
    .main__presentacion {
      font-size: 1.45rem;
      transition: all 0.5s;
    }
    .hero .cup{
      grid-template-columns: repeat(3, 122px);
      transition: all 0.5s;
    }
    .main__botones a {
      .gradient-text1 {
        font-size: 1.7rem;
        transition: all 0.5s;
      }
      .gradient-text2 {
        font-size: 1.7rem;
        transition: all 0.5s;
      }
    }
  }
  footer {
    .social {
      width: 270px;
      transition: 0.5s;
      .footer-ico a {
        width: 2.725rem;
        height: 2.725rem;
        margin-right: 2rem;
        transition: all 0.5s;
      }
    }
    .location {
      width: 340px;
      transition: 0.5s;
      a {
        height: 2.725rem;
        transition: all 0.5s;
      }
      .iconmax i {
        font-size: 1.5rem;
        transition: all 0.5s;
      }
    }
    .etiquetas{
      width: 343px;
      transition: all 0.5s;
    }
    .newsletter{
      height: 2.7rem; 
      .input-container {
        height: 2.725rem;
        transition: all 0.5s;
        input {
          font-size: 0.675rem;
          transition: all 0.15s cubic-bezier(0.4, 0, 0.2, 1);
        }
      }
    }
  }
}